body{
	background-color: #232322;
	font-family: 'ABeeZee', sans-serif;
	color: white;
	text-align: center;
}

h1{
	text-align: center;
}

.pixel{
	/*background-color: pink;*/
	background-color: black;
	width: 2%;
	padding-bottom: 2%;
	float: left;
	margin: 1px 1px;
}

.pixel:hover{
	background-color: white;
} 

